<div class="container mt-4">
    <h1 class="mb-4 text-left">Welcome to Towson University's Campus Workshop Hub!</h1>
    <h4 class="mb-4 text-left">Towson University hosts a plethora of workshops all around campus. Explore the workshops
        below!</h4>

    <div class="card mb-4 shadow-sm">
        <div class="card-body">
            <h2 class="card-title">Academic Skills Support Workshops</h2>
            <p class="card-text">Boost your academic performance with our skill-building workshops. Offered each
                semester, these sessions are designed to help you thrive academically.</p>
            <a href="https://www.towson.edu/tutoring-learning/academic-support/workshops/" target="_blank"
                class="btn btn-primary">Learn More</a>
        </div>
    </div>

    <div class="card mb-4 shadow-sm">
        <div class="card-body">
            <h2 class="card-title">Outreach Workshops</h2>
            <p class="card-text">Join our Counseling Center's workshops and trainings, available to the entire
                university community. Our staff presents programs on a variety of topics to support your personal and
                academic growth.</p>
            <a href="https://www.towson.edu/counseling/events/" target="_blank" class="btn btn-primary">Learn More</a>
        </div>
    </div>

    <div class="card mb-4 shadow-sm">
        <div class="card-body">
            <h2 class="card-title">Academic Workshops at TUNE</h2>
            <p class="card-text">Enhance your skills with our weekly academic workshops at Towson University in
                Northeastern Maryland, available throughout the fall and spring terms.</p>
            <a href="https://www.towson.edu/academics/undergraduate/tune/resources/workshops.html" target="_blank"
                class="btn btn-primary">Learn More</a>
        </div>
    </div>

    <div class="card mb-4 shadow-sm">
        <div class="card-body">
            <h2 class="card-title">Dr. Nancy Grasmick Leadership Institute</h2>
            <p class="card-text">Empower your leadership journey with our workshops and seminars, made accessible
                through generous philanthropy. These programs aim to uplift the region through public good leadership.
            </p>
            <a href="https://www.towson.edu/grasmickleadership/events/workshops/" target="_blank"
                class="btn btn-primary">Learn
                More</a>
        </div>
    </div>


    <div class="card mb-4 shadow-sm">
        <div class="card-body">
            <h2 class="card-title">Financial Services Workshops</h2>
            <p class="card-text">Financial Services offers supportive small group seminars and personalized one-on-one
                sessions, designed to guide Towson University faculty and staff in mastering TU financial processes with
                ease and confidence.</p>
            <a href="https://www.towson.edu/financialservices/workshops.html" target="_blank"
                class="btn btn-primary">Learn More</a>
        </div>
    </div>

    <div class="card mb-4 shadow-sm">
        <div class="card-body">
            <h2 class="card-title">Department of Family Science Workshops</h2>
            <p class="card-text">The Department of Family Science enrich students' educational experiences by offering
                several workshops each year.</p>
            <a href="https://www.towson.edu/cla/departments/family-science/workshops.html" target="_blank"
                class="btn btn-primary">Learn
                More</a>
        </div>
    </div>

    <div class="text-left">
        <a href="/inquiry-form" class="btn btn-primary btn-lg mt-4">Make a Request!</a>
    </div>
</div>