.navbar-brand {
    font-weight: bold;
    color: #fff;
}

.nav-link {
    color: #ddd !important;
}

.nav-link:hover {
    color: #fff !important;
}

.navbar-nav .nav-item {
    margin-left: 1rem;
}
